NEXT_PUBLIC_BACKEND_URL=http://localhost:3022
NEXT_PUBLIC_FARO_URL=
NEXT_PUBLIC_OTEL_ENVIRONMENT=vscode_launch
NEXT_PUBLIC_FARO_SERVICE_NAME=
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-eu-west-2.grafana.net/otlp
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_HEADERS=